{% extends 'Base.html' %}
{% load static %}
{#{% load humanize %}#}
{% block title %}
    فروشگاه من
{% endblock %}
{% block content %}


    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">😊بدو بیا اینور بازار😊</h1>
                <p class="lead fw-normal text-white-50 mb-0">خریدتو تضمین شده بدون</p>
            </div>
        </div>
    </header>
    <br>
        {% if cart_pro %}
                {% for product in cart_pro %}



        <div class="container">
             <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="..." style="width: 400px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text" align="justify">{{ product.long_description }}</p>
                    <p><b>💰قیمت</b></p>

                    {% if product.is_sale %}
                        <strike>
                            <p class="card-text"><small
                                    class="text-body-secondary"><b>{{ product.price }}</b></small></p>
                        </strike>
                        <p class="card-text"><small
                                class="text-body-secondary"><b>{{ product.sale_price }}</b></small></p>

                    {% endif %}
                    {% if product.is_sale == False %}
                        <p class="card-text"><small class="text-body-secondary"><b>{{ product.price }}</b></small>
                        </p>
                        <br>

                    {% endif %}




                </div>
            </div>
        </div>
    </div>
        </div>
    {% endfor %}
        	{% else %}
           <center><p class="container" style="font-size: 50px">سبد خرید شما خالی است</p></center>
        {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'shops/js/scripts.js' %}"></script>


<!-- Bootstrap core JS-->
